In [1]:
import pandas as pd
import numpy as np

# other
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 100)
from joblib import dump, load

# plotting
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use(['seaborn-muted', 'dark_background'])
%matplotlib inline


# processing & model selection
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import StandardScaler

# models
import tensorflow as tf
print(tf.__version__)
from tensorflow.keras.layers import Dense, Flatten
from tensorflow.keras.models import Sequential
from tensorflow.keras import Model

tf.random.set_seed(42)

np.random.seed(410)

2.0.0-rc0

In [3]:
df = pd.read_pickle('../data/ts_pretransform.pkl')

In [4]:
df.head()

,player_name,overall,club,league,nationality,height,weight,intl_rep,dribbling,drib_composure,shooting,passing,defending,physicality,phys_stamina,att_workrate,def_workrate,weak_foot,skill_moves,resource_id,avg_goals,avg_assists,date,days,weekday,gen_pos,promo,source,available,days_release,price_day0,price_day1,price_day2,price_day3,price_day7,y_price
0,Ronaldo,94,Juventus,Serie A TIM,Portugal,187,83,5,90.0,95,93.0,81.0,35.0,79.0,88,High,Low,4,5,20801,0.92,0.37,2018-09-27,8,3,forward,0,packs,0.0,7,1688245,107.052827,96.562821,92.944685,80.951935,2064015.0
1,Ronaldo,94,Juventus,Serie A TIM,Portugal,187,83,5,90.0,95,93.0,81.0,35.0,79.0,88,High,Low,4,5,20801,0.92,0.37,2018-09-28,9,4,forward,0,packs,0.0,8,1774088,95.161289,101.872850,91.890425,74.552390,2095042.0
2,Ronaldo,94,Juventus,Serie A TIM,Portugal,187,83,5,90.0,95,93.0,81.0,35.0,79.0,88,High,Low,4,5,20801,0.92,0.37,2018-09-29,10,5,forward,0,packs,0.0,9,1838174,96.513605,91.843590,98.321160,93.621442,2115861.0
3,Ronaldo,94,Juventus,Serie A TIM,Portugal,187,83,5,90.0,95,93.0,81.0,35.0,79.0,88,High,Low,4,5,20801,0.92,0.37,2018-09-30,11,6,forward,0,packs,0.0,10,1944775,94.518595,91.223303,86.809271,88.388065,2143413.0
4,Ronaldo,94,Juventus,Serie A TIM,Portugal,187,83,5,90.0,95,93.0,81.0,35.0,79.0,88,High,Low,4,5,20801,0.92,0.37,2018-10-01,12,0,forward,0,packs,0.0,11,1999483,97.263893,91.932465,88.727336,78.476986,2119556.0

# Transformation

In [4]:
date_split = datetime(2019, 2, 1)

In [6]:
train_data = df[df.date<date_split]
test_data = df[df.date>=date_split]

In [ ]:
cat_vars = np.array(['club', 'league', 'nationality', 'att_workrate', 'def_workrate', 'gen_pos', 'promo', 'source', 'available'])
num_vars = [x for x in .columns if x not in cat_vars]

id_vars = ['']

In [7]:
def multivariate_data(dataset, target, start_index, end_index, history_size,
                      target_size, step, single_step=False):
    data = []
    labels = []

    start_index = start_index + history_size
    if end_index is None:
        end_index = len(dataset) - target_size

    for i in range(start_index, end_index):
        indices = range(i-history_size, i, step)
        data.append(dataset[indices])

        if single_step:
            labels.append(target[i+target_size])
        else:
            labels.append(target[i:i+target_size])

    return np.array(data), np.array(labels)

              y_price
date
2018-09-27  2064015.0
2018-09-28  2095042.0
2018-09-29  2115861.0
2018-09-30  2143413.0
2018-10-01  2119556.0
2018-10-02  2154392.0
2018-10-03  2142763.0
2018-10-04  2190325.0
2018-10-05  2094216.0
2018-10-06  2108279.0
2018-10-07  2093338.0
2018-10-08  2094545.0
2018-10-09  2114689.0
2018-10-10  2080960.0
2018-10-11  2134589.0
2018-10-12  2156183.0
2018-10-13  2158771.0
2018-10-14  2150900.0
2018-10-15  2167008.0
2018-10-16  2209514.0
2018-10-17  2193021.0
2018-10-18  2221526.0
2018-10-19  2220975.0
2018-10-20  2235619.0
2018-10-21  2206732.0
2018-10-22  2240508.0
2018-10-23  2260515.0
2018-10-24  2221687.0
2018-10-25  2258714.0
2018-10-26  2275076.0
...               ...
2019-01-30   140389.0
2019-01-31   145462.0
2019-01-28    18514.0
2019-01-29    17311.0
2019-01-30    15805.0
2019-01-31    13265.0
2019-01-28    23194.0
2019-01-29    23648.0
2019-01-30    22903.0
2019-01-31    23830.0
2019-01-28      825.0
2019-01-29      793.0
2019-01-30      784.0
2019-01-31      844.0
2019-01-31    29153.0
2019-01-31    17017.0
2019-01-31    33853.0
2019-01-31    17913.0
2019-01-31    19972.0
2019-01-31    20136.0
2019-01-31   227255.0
2019-01-31    14500.0
2019-01-31   125337.0
2019-01-31    23529.0
2019-01-31    16089.0
2019-01-31    20306.0
2019-01-31    54309.0
2019-01-31    29015.0
2019-01-31  1374212.0
2019-01-31   168615.0

[101113 rows x 1 columns]